@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

:root {
  --orange: #FF6D25;
  --pastel-yellow: #FFBD4A;
  --soft-black: #2B2A2A;
  --just-black: #000000;
  --pastel-pink: #FFF2F2;
  --pastel-green: #F5F5EF;
  --white: #FFFFFF;
  --main-font: "Hammersmith One", sans-serif;
  --secondary-font: font-family: "Roboto", sans-serif;
  --tertiary-font: font-family: "Vollkorn", serif;
  --catenary-font: "Hanken Grotesk", sans-serif;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
.none-visibility{
  display: none;
  z-index: 900;
}
header{
  position: fixed;
  
}
#mobile-nav{
  position: absolute;
  display: flex;
  top: 50px;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  width: 100vw;
  height: 95vh;
 
}
#mobile-nav .drop-down-menu{
  width: 300px;
  height: 95vh;
  font-size: 1.6rem;
  font-family: var(--main-font);
  line-height: 44px;
  background-color: var(--pastel-pink);
}
.drop-down-menu .logo{
  display: flex;
  justify-content: center;
  margin: 8px 0 16px 0;
}
.drop-down-menu img{
  width: 80px;
}
#mobile-nav .drop-down-menu .menu-content{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80vh;
}
.drop-down-menu .menu-content menu{
  margin-left: 16px;
}
.drop-down-menu .menu-content li{
  list-style: none;
}
.menu-content li a{
  text-decoration: none;
  color: var(--soft-black);
  cursor: pointer;
}
.rate-us-container{
  width: 100%;
  height: 20px;
  margin-bottom: 85px;
  text-align: center;
}
.rate-us-container a{
  text-decoration: none;
  color: green;
  cursor: pointer;
}
#desktop-nav{
  display: flex;
  justify-content: end;
  width: 100vw;
  height: 10vh;
}
#desktop-nav figure{  
  height: 10vh;
}
#desktop-nav #ham-btn{
  position: relative;
  margin: 4px 18px 0 0;
  width: 45px;
}
main .main-section {
  width: 100vw;
  height: 420px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./assets/JPG/fondo-principal.jpg");
  background-size: cover;
  background-position: center;
}
.main-section .main-section-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: start;
  align-items: center;
}
.main-section-container .main-section-img{
  margin-top: 7vh;
  width: 160px;
}
.main-section-container .main-section-title{
  font-size: 3rem;
  color: var(--white);
  font-weight: 500;
  font-family: var(--main-font);
}
.button{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 28px 0;
  width: 185px;
  height: 42px;
  color: var(--white);
  background-color: var(--orange);
  font-family: var(--catenary-font);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  z-index: 1000;
}

/* Menú cards section */
.menu-container{
  display: flex;
  flex-direction: column;
  width: 100Vw;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: var(--pastel-green);
}
h2{
  margin: 32px 0;
  text-align: center;
  font-family: var(--main-font);
  font-size: 2.6rem;
  font-weight: 400;
}
.card{
  display: grid;
  grid-template-columns: 3fr 2fr;
  margin: 16px 0 0 12px;
  width: 100%;
  height: 185px;
}
.card .card-left-side{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 16px;
}
.card .card-left-side p{
  font-family: var(--main-font);
  font-size: 1.9rem;
  font-weight: 500;;
}
.card .card-left-side ul{
  margin: 4px 4px;
  padding: 4px 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

}
.card .card-left-side li{
  font-size: 1.3rem;
  text-decoration: none;
  list-style: none;
}
.card .card-left-side span{
  margin-top: 4px;
  font-size: 1.3rem;
  font-weight: 600;
  color: green;
}
.card .card-right-side{
  display: flex;
  justify-content: center;
  align-items: center;
}
.card .card-right-side img{
  width: 80%;
  max-width: 170px;
  height: 85%;
  border-radius: 18px;
}

/* about us section */

.about-us{
  margin-top: 36px;
  width: 100%;
  
}
.about-us .images-container{
  display: flex;
  justify-content: center;
  width: 100%;
}
.about-us figure {
 
  margin: 45px 0 80px 0;
  width: 100%;
  max-width: 500px;
  height: 400px;
  position: relative;
}

.about-us figure .cocinera {
  width: 70%;
  height:70%;
  right: 25%;
  position: absolute;
  object-fit: contain;
  z-index: 2;
}

.about-us figure .comal {
  width: 60%;
  height: 60%;
  top: 50%;
  left: 35%;
  position: absolute;
  object-fit:contain;
  z-index: 1;
}
.about-us .about-us-text-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us-text-container h2{
  padding: 10px 8px 28px 8px;
  font-family: var(--main-font);
  font-size: 2.6rem;
  font-weight: 400;
}
.about-us-text-container p{
  max-width: 390px;
  margin: 0 10px 0 10px;
  font-family: var(--tertiary-font);
  font-size: 1.6rem;
  line-height: 1.4;
  color: var(--soft-black);
}

.about-us-know-more{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.about-us-know-more p{
  max-width: 390px;
  padding: 12px;
  text-align: center;
  color: #848f8f;
  font-family: var(--catenary-font);
  font-size: 2rem;
}

/* Opinions section */

#opinions-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 18px;
  width: 100%;
  height: 100%;
  color: var(--pastel-green);
  background-color: var(--just-black);
}

.opinion-card{
  max-width: 380px;
  height: 100%;
  margin: 36px 20px;
  font-size: 1.8rem;
}
.opinion-card span{
  font-size: 1.6rem;
}
.opinion-own{
  margin: 12px 0;
  font-family: var(--main-font);
  font-weight: 500;
}
.opinion{
  font-family: var(--catenary-font);
}

/* Nos vemos pronto section */

.seeYouSoon-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.seeYouSoon-title{
  text-align: center;
}
.seeYouSoon-content{
  max-width: 380px;
  margin: 30px 18px;
  font-size: 1.6rem;
}
.seeYouSoon-content p {
  font-family: var(--main-font);
}
.seeYouSoon-content a{
  position: relative;
  color: var(--soft-black);
  font-family: var(--catenary-font);
  z-index: 1010;
  cursor: pointer;
}
.seeYouSoon-section figure{
  display: flex;
  justify-content: center;
  max-width: 385px;
}
.seeYouSoon-section figure img{
  width: 100%;
}

/* Delivery section */

.delivery-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.delivery-section h2 {
  margin: 20px 0;
}
.delivery-section-logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 18px;
}
.delivery-section-logo-container img {
  max-width: 300px;
}
.delivery-section-apps-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 18px;
}
.delivery-section-apps-container img {
  max-width: 100px;
  margin: 12px 36px;
}
.delivery-section-apps-container a {
  cursor: pointer;
  z-index: 1003;
}

/* footer */
footer {
  position: relative;
  background-color: #df4a00;
  color: var(--pastel-green);
  padding: 20px;
  text-align: center;
  font-size: 1.6rem;
  font-family: var(--secondary-font);
  font-weight: 400;
  z-index: 1010;
}
footer a{
  cursor: pointer;
  
}
.footer-contacto, .footer-horario, .footer-redes, .footer-legales, .footer-menu {
  margin-bottom: 20px;
}

.footer-contacto a, .footer-redes a, .footer-legales a, .footer-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-contacto a:hover, .footer-redes a:hover, .footer-legales a:hover, .footer-menu a:hover {
  text-decoration: underline;
}